<section id='body_content'>
  <div class="content_other">
  <div class="long">
    <div class="title"><%= @event.name %></div>
    <div class="head"></div>
    <div class="body calendar">
      <div class="padding_div event">
				<div class="event_date event_date_detail"><%= l @event.created_at.to_date, :format => :short %></div>
				<div class="event_content event_content_detail"><%= raw @event.text %></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="foot"></div>
  </div>

  <div class="third">
    <div class="title">
			<%= t("third_box.title") %>
    </div>
    <div class="head"></div>
    <div class="body calendar">
        <div class="events">
				<% Event.order("id desc").each do |event| %>
          <div class="event">
            <div class="event_date"><%= l event.created_at.to_date, :format => :short %></div>
            <div class="event_content">
              <h3><%= link_to truncate(event.name, :length => 33), event %></h3>
            	<%= truncate((strip_tags(event.text)), :length => 50) %>
              <div class="clear"></div>
            </div>
          <%= raw "<div class='hr'></div>" unless event == Event.first %>
          </div>
      <% end %>
					<div class="clear"></div>
				</div>
    </div>
    <div class="foot"></div>
  </div>
</div>

</section>