<%#= render :partial => "/shared/content_page" %>

<div class="content_home">
  <div class="first">
    <div class="title"><%= t("first_box.title") %></div>
    <div class="head"></div>
    <div class="body">
      <%= raw @page.content_for(:body) %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=129916160423667";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-like-box" data-href="http://sk-sk.facebook.com/nnoze" data-width="240" data-height="260" data-show-faces="true" data-stream="true" data-header="false"></div>
    </div>
    <div class="foot"></div>
  </div>

  <div class="second">
    <div class="title"><%= t("second_box.title") %></div>
    <div class="head"></div>
    <div class="body">
      <div class="padding_div_smaller">
        <div class="video_back"><a class="button_video" href="/o-projekte"></a></div>
        <div><%= image_tag "number_one.png" %><p><%= t("second_box.text1") %></p></div>
        <div><%= image_tag "number_two.png" %><p><%= t("second_box.text2") %></p></div>
        <div><%= image_tag "number_three.png" %><p><%= t("second_box.text3") %></p></div>
      </div>
    </div>
    <div class="foot"></div>
  </div>

  <div class="third">
    <div class="title"><%= link_to t("third_box.title"), events_path %></div>
    <div class="head"></div>
    <div class="body calendar">
      <% Event.order("id desc").limit(3).each do |event| %>
        <div class="event">
          <div class="event_date"><%= l event.created_at.to_date, :format => :short %></div>
          <div class="event_content">
            <h3><%= event.name %></h3>
            <%= raw event.text %>
            <div class="clear"></div>
          </div>
        <%= raw "<div class='hr'></div>" unless event == Event.first %>
        </div>
      <% end %>
    </div>
    <div class="foot"></div>
  </div>
</div>
