<%#= render :partial => "/shared/content_page" %>

<div class="content_home">
  <div class="first">
    <div class="title"><%= t("first_box.title") %></div>
    <div class="head"></div>
    <div class="body">
      <%= raw @page.content_for(:body) %>
      <div></div>
    </div>
    <div class="foot"></div>
  </div>

  <div class="second">
    <div class="title"><%= t("second_box.title") %></div>
    <div class="head"></div>
    <div class="body">
      <%= image_tag "video.png" %>
      <div><%= image_tag "number_one.png" %><p><%= t("second_box.text1") %></p></div>
      <div><%= image_tag "number_two.png" %><p><%= t("second_box.text2") %></p></div>
      <div><%= image_tag "number_three.png" %><p><%= t("second_box.text3") %></p></div>
    </div>
    <div class="foot"></div>
  </div>

  <div class="third">
    <div class="title"><%= t("third_box.title") %></div>
    <div class="head"></div>
    <div class="body"></div>
    <div class="foot"></div>
  </div>
</div>
